<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script>
        // Adiciona o token CSRF ao cabeçalho das requisições AJAX
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getCookie('csrftoken');

        // Configura o axios para enviar o token CSRF
        axios.defaults.headers.common['X-CSRFToken'] = csrftoken;
    </script>
</head>
<body>
    <h1>Bem-vindo ao GabQuiz</h1>
    <h2>Quizzes Criados por Você:</h2>
    <ul>
        {% for quiz in quizzes %}
            <li>
                {{ quiz.titulo }}
                {% if quiz.sala and quiz.sala.ativa %}
                    <a href="{% url 'sala_espera' quiz.sala.id %}">Jogar GabQuiz</a>
                {% else %}
                    <span>Sem sala disponível</span>
                {% endif %}
            </li>
        {% empty %}
            <p>Você ainda não criou nenhum quiz.</p>
        {% endfor %}
    </ul>
    <button onclick="redirecionar()">
        Criar GabQuiz
    </button>
    
    <script>
        function redirecionar() {
            {% if request.user.is_authenticated %}
                window.location.href = "{% url 'quiz_create' %}";
            {% else %}
                window.location.href = "/api/account/login";
            {% endif %}
        }
    </script>
    

</body>
</html>
