<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form method="POST" action="sala-espera/">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Usuário">
        <input type="password" name="password" placeholder="Senha">
        {% if error %}
          <p style="color: red;">{{ error }}</p>
        {% endif %}
        <button type="submit">Entrar</button>
      </form>      
    <p>Não tem uma conta? <a href="{% url 'register' %}">Crie uma agora</a></p> <!-- Adicionado link para registro -->
</body>
</html>